body{
    width: 1250px;
}
nav{
    width: 101%;
    height: 60px;
    background: linear-gradient(to right,#025859,#009EA0 );
    margin-top: -1em;
    margin-left: -8px;
    
    
    box-shadow: 0px 0px 27px 1px;

    border: none;
    
}
ul{
    list-style-type: none;
}
.kanan{
    float: left;
    line-height: 60px;
    padding-right: 2em;
}
.logo{
    margin-right: 2em;
    color: white;
    font-size: 20px;
}
.kiri{
    float: right;
    line-height: 45px;
    color: white;
    margin-right: 2em;
    line-height: 60px;
}
.Register{
    margin-right: 6em;
    float: right;
    line-height: 40px;
    color: white;
    background-color: #065757;
    
}

<!--TULISAN DARI GOOGLE-->

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 390;
    font-style: normal;
}


.menuu{
    width: 3em;
    height: 43px;
    float: right;
    margin-right: 2em;
    margin-top: 8px ;
   
}
.Register{
    margin: 0;
    padding: 0;
}
.Register::before,
.Register::after {
    content: "";
    display: table;
}
.Register::after{
    clear: both;
}
a{
    text-decoration: none;
    color: white;
}
.Register{
    margin-right: 2em;
    margin-top: 9px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    
}
.Register:hover{
    box-shadow: 1px 1px 13px -4px black;
    border: 1.5px solid white;
    background-color: #098c8c;
}
.bagian-atas{
    margin-top: 1em;
}
.patrick{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: #026364;
    font-size: 35px;
}
.bagian-atas-kiri{
    width: 33em;
    height: 29em;
    margin-top: 3em;
    margin-left: 3em;
    float: left;
}
.bagian-atas-kanan{
    float: right;
    margin-top: 5em;
    margin-right: 5em;
    
}
.isi_konten{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    width: 100%;
    
}
.slogan{
    margin-top: 3em;
    margin-left: 3em;
    
    height: 18em;
    
}
.comunitas{
    background-color: #009EA0;
    border-radius: 4px;
    display: table;
    padding: 10px 25px;
    color: white;
    margin-top: 4em;
    
}
.comunitas:hover{
    box-shadow: 1px 1px 16px -2px black;
    background-color: #14b2b2;
}
.Fitur-tersedia{
    background-color: #98CDD1;

    width: 100%;
    height: 2em;

    margin-left: 0px;
    margin-top: 1em;

    border: 2px solid #009EA0 ;
    color: white;
    line-height: 2em;
    text-align: center;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fitur-1{
    background-color: #026364;
    width: 12em ;
    height: 19em;
    float: left;
    margin: 6em 3em 3em 5em;
    border: 1.5px solid #25888a;
}
.fitur-1{
    margin: 0;
    padding: 0;
}
.fitur-1::before,
.fitur-1::after {
    content: "";
    display: table;
}
.fitur-1::after{
    clear: both;
}
.fitur-1{
    background-color: #026364;
    width: 13em ;
    height: 22em;
    float: left;
    margin: 6em 3em 3em 5em;
    border: 1.5px solid #25888a;

    
}
.slotip{
    background-color: rgb(207, 16, 16);
    width: 5em;
    height: 2em;
    float: left;
    margin-left: 30%;
    border: 1.5px solid #CC2020;
    margin-bottom: -2em;
    border-top: none;
    
}
.tur1{
    margin-left: 11em;
}
.tulisan-fitur{
    color: white;
    text-align: center;
    margin-top: 4em;
    font-size: 18px;
}
.value-fitur{
    color: white;
    font-size: 15px;
    margin: 15px 2em;
}
.gambar_fitur{
    width: 5em;
    height: 71px;
    margin-left: 4em;
    margin-top: 1em;
}
.gambar_fitur1{
    width: 5em;
    height: 71px;
    margin-left: 4em;
    margin-top: 37px;
}
.gambar_fitur2{
    width: 5em;
    height: 77px;
    margin-left: 4em;
    margin-top: 37px;
}
.bagian_2_isi{
    width: 43em;
    height: 29em;
    margin-left: 2em;
    margin-top: 4em;
    float: left;
}
.bagian_3_isi{
    width: 28em;
    height: 29em;
    float: right;
    margin-right: 2em;
    margin-top: 4em;
}
.bagian_4_isi{
    width: 100%;
    margin-left: 0px;
    margin-top: 6em;
}
.gabungan{
    margin-top: 6em;
    margin-left: -8px;
    width: 101%;
}
.bagian_5{
    width: 100%;
    margin-left: 0px;
    
}
.bagian_6{
    margin-top: -4px;
    width: 100%;
    margin-left: 0px;
}
.bagian_7{
    margin-top: -4px;
    width: 100%;
    margin-left: 0px;
}
.penutup{
    background: linear-gradient(to bottom,#033D3D,#000000);
    margin-top: -5px;
    width: 100%;
    margin-left: 0px;
    height: 19em;
}