*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 1250px;
}
nav{
    width: 100%;
    height: 60px;
    background: linear-gradient(to right,#025859,#009EA0 );
    margin-top: 0;
    margin-left: 0;
   
    position: fixed;
    
    box-shadow: 0px 0px 27px 1px;
    font-weight: normal;
    border: none;
}

ul{
    list-style-type: none;
    text-decoration: none;
}
.kanan{
    float: left;
    line-height: 30px;
    padding-right: 2em;
    margin-top: 14px;
}

.logo{
    margin-right: 1em;
    margin-left: 3em;
    color: white;
    font-size: 20px;
}
.kiri{
    float: right;
    line-height: 30px;
    color: white;
    margin-right: 2em;
    margin-top: 14px;
}

.Register{
    margin-right: 6em;
    float: right;
    line-height: 2em;
    color: white;
    background-color: #065757;
    
}
.Register{
    margin: 0;
    padding: 0;
}
.Register::before,
.Register::after {
    content: "";
    display: table;
}
.Register::after{
    clear: both;
}
.Register{
    margin-right: 2em;
    margin-top: 14px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    height: 2em;
    
}
.Register:hover{
    box-shadow: 1px 1px 13px -4px black;
    border: 1.5px solid white;
    background-color: #098c8c;
}
.header{
    margin-top: 13px;
    float: left;
    margin-left: 1em;
    font-size: 19px;
}

.menuu{
    width: 3em;
    height: 43px;
    float: right;
    margin-right: 3em;
    margin-top: 8px ;
}
a{
    text-decoration: none;
    color: white;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 390;
    font-style: normal;
}
.patrick{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: #026364;
    font-size: 19px;
    margin-top: 14px;
}
.belakang{
    
    width: 100%;
    height: 4em;
   
}
.container{
    background: white;
    
}
.box{
    float: left;
}
.box{
    margin: 0;
    padding: 0;
}
.box::before,
.box::after {
    content: "";
    display: table;
}
.box::after{
    clear: both;
}
.box1{
    width: 10em;
    height: 8em;
    color: #065757 ;
    
}
.box2{
    color: rgb(190, 188, 188);
    margin-top: 7px;
    margin-left: 31em;
    width: 22em;
    height: 2em;
    padding-left: 1em;
    line-height: 2em;
    border-radius: 16px;
    border: 1px solid #065757;


}
footer{
    margin-top: 15em;
    margin-left: 1px;
    margin-bottom: 1em;
    background-color: white;
    border:1px solid #717272;
    border-left: none;
    border-right: none;
    width: 1258px;
    height: 24em;
}
.isi_artikel_footer{
    margin-left: 5em;
}
.jdl_artikel_footer{
    margin-top: 3em;
    margin-left: 5em;
    margin-bottom: 1em;
}
.jdl_artikel_footer1{
    margin-top: 6em;
    margin-left: 5em;
}
.isi_artikel_footer1{
    margin-left: 19em;
    margin-top: -1em;
}
.jdl_artikel_footer2{
    float: right;
    margin-right: 473px;
    margin-top: -14em;
}
.isi_artikel_footer2{
    float: right;
    margin-top: -12em;
    margin-right: 27em;
}
.zero_bawah{
    color: black;
  
}
.isi_artikel_footer3{
    float: right;
    margin-top: -12em;
    margin-right: 17em;

}
.jdl_artikel_footer3{
    float: right;
    margin-right: 19em;
    margin-top: -14em;
}
.masukkan_email_bawah{
    background-color: rgb(226, 226, 226);
    display: table;
    width: 12em;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    margin-left: 45em;
    margin-top: -2em;
    color: rgb(139, 138, 138);
}
.untuk_tombol_nya{
    color: white;
    background-color: #009EA0;
    display: table;
    padding: 13px 15px;
    border-radius: 7px;
    float: right;
    margin-right: 10em;
    margin-top: -2em;
}
.new_post{
    float: right;
    margin-top: 10px;
    margin-right: 3em;
    background-color: #009EA0;
    height: 2em;
    width: 7em;
    text-align: center;
    line-height: 2em;
    color: white;
    border-radius: 5px;
    
}
.bawah_header{
    float: left;
}
.box-3{
    margin-top: 1em;
    margin-left: 1em;
    border:1.5px solid #025859;
    padding: 3px 7px;
    border-radius: 15px;
}
.box-4{
    margin-top: 18px;
    margin-left: 1em;
    background-color: #025859;
    padding: 3px 10px ;
    color: white;
    border-radius: 5px;
}
.box-4:hover{
    background-color: #009EA0;
    border: 1.3px solid rgb(179, 178, 178);
}
.perubahan{
    color: #025859;
}
.box-5{
    margin-top: 20px;
    margin-left: 1em;
    color: blue;
    text-decoration: underline;
}
.box-6{
    color: black;
    margin-top: 20px;
    margin-left: 1.5em;
}
.ni-kiri{
    float: left;
    width: 15em;
    height: 13em;
    
}
.ni-kiri{
    margin: 0;
    padding: 0;
}
.ni-kiri::before,
.ni-kiri::after {
    content: "";
    display: table;
}
.ni-kiri::after{
    clear: both;
}
.ni-kiri{
    background-color: #019D9F;
    margin-top: 5em;
    margin-left: -34em;
    border-radius: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}
.micel{
    margin: 1em;
    text-align: justify;
}



.ni-kanan{
    float: left;
    width: 60em;
    height: 10em;
}
.ni-kanan{
    margin: 0;
    padding: 0;
}
.ni-kanan::before,
.ni-kanan::after {
    content: "";
    display: table;
}
.ni-kanan::after{
    clear: both;
}
.ni-kanan{
    background-color: #026364;
    margin-top: -11em;
    margin-left: 16em;
}
.bawah-kanan{
    float: left;
    background-color: #CBE6E8;
    margin-top: 0em;
    margin-left: 16em;
    width: 60em;
    height: 80em;
    
}
.bawah-kanan{
    margin: 0;
    padding: 0;
}
.bawah-kanan::before,
.bawah-kanan::after {
    content: "";
    display: table;
}
.bawah-kanan::after{
    clear: both;
}
.bawah-kanan{
    margin-top: 14em;
    margin-left: 17em;
}
